.card-container {
    display: flex;
    justify-content: space-around;
  }

  .card-mini {
    cursor: pointer;
    transition: outline 0.2s ease-in-out;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    padding: 40px !important;
    width: 45%;
  }

  .card-mini:hover {
    outline: 2px solid #e03131;
  }

  .card-mini:hover i {
    color: #e03131;
  }

  .card-mini:hover h6 {
    font-weight: bold;
  }
  

  .card-mini i {
    margin: auto;
    display: block;
    font-size: 3rem;
  }

  .card-mini h6 {
    text-align: center;
  }